#product-list {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.product {
  padding: 12px;
  border-radius: 8px;
  width: 200px;
  text-align: center;
}

button {
  margin-top: 5px;
  padding: 5px 10px;
}


